@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 8, 0, 48;
  --background-start-rgb: 8, 0, 48;
  --background-end-rgb: 8, 0, 48;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 8, 0, 48;
    --background-start-rgb: 8, 0, 48;
    --background-end-rgb: 8, 0, 48;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rain-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1; /* Adjust z-index as needed to ensure it's in the background */
}

.raindrop {
  position: absolute;
  bottom: 100%; /* Start from above the view */
  width: 2px;
  height: 15px;
  background-color: rgba(156, 202, 255, 0.6);
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  to {
      transform: translateY(100vh); /* Move the drop to the bottom of the viewport */
  }
}

